@import '../../variables/variables.scss';
.hot-topics {
    height: 85vh;
    background-color: transparent;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__desc {
        padding: 2rem;
        text-align: center;
    }

    &__buttons {
        padding: 2rem;
        display: grid;
        grid-template-rows: 10rem 10rem 10rem;
        grid-template-columns: 10rem 10rem 10rem;
        grid-gap: 1rem;
        justify-content: center;

        .topics {
            height: auto;
            width: auto;
            padding: .5rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-yellow;

        }
    }

}