$color-background: #F6F9FC;
$color-turquoise-light: #82C7CC;
$color-turquoise-dark: #4B8D92;
$color-salmon: #DB8D72;
$color-yellow: #EBE792;
$color-periwinkle: #9DBCD8;
$color-tan: #E1BEA1;
$color-blue: #73AEDE;
$color-black: #142028;

.App {
    background-color: $color-blue;
    height: 100vh;
    width: 100vw;
}