.story {
  display: flex;
  height: 40vh;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 100vw;
}

.story__section {
  border: 2px solid black;
  height: 40vh;
  width: 75vw;
}

.story__section__tag-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.story__section__tag-box .tags {
  border: 1px solid black;
  background-color: whitesmoke;
  height: 5vh;
  width: 25vw;
  text-align: center;
  padding-top: 1rem;
  font-weight: bolder;
}

.story__section__tag-box .action {
  border: 1px solid black;
  background-color: #EBE792;
  height: 5vh;
  width: 25vw;
  text-align: center;
  padding-top: 1rem;
  font-weight: bolder;
}

.story__section__title-box {
  border: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex: start;
  justify-content: space-between;
}

.story__section__title-box .title {
  border: 1px solid black;
}

.story__section__title-box .author-name {
  border: 1px solid black;
}
