.story-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-container__topic {
  margin-top: 1rem;
  font-size: 2.3rem;
}
.story-container__news {
  margin-bottom: 2rem;
}

.story {
  display: flex;
  height: 50vh;
  justify-content: center;
  margin: 3rem;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.story__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-repeat: none;
  border-radius: 1rem;
  background-color: #F6F9FC;
  height: 105%;
  width: 75%;
}
.story__section-img {
  height: 45%;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.story__section-desc {
  padding: 2rem;
  height: 45%;
  width: 100%;
  overflow: hidden;
}
.story__section__tag-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin-top: 1rem;
}
.story__section__title-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
}
.story__section__title-box .title {
  color: black;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.story__section__title-box--by {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.story__section__title-box--by .date, .story__section__title-box--by .author-name {
  color: #142028;
  font-size: 1.3em;
}
.story .btn-ta {
  background: rgba(130, 199, 204, 0.8);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: static;
  margin-bottom: 5%;
}
.story .modal-window {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.story .modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.story .modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.story .modal-window header {
  font-weight: bold;
}
.story .modal-window h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0 0 15px;
  margin-top: 20px;
  color: #DB8D72;
}
.story .modal-window h1:hover {
  color: #73AEDE;
  border: 1px solid #E1BEA1;
  cursor: pointer;
}
.story .modal-window p {
  font-size: 1rem;
  font-weight: bolder;
  margin: 0 0 15px;
  color: #142028;
}
.story .modal-close {
  color: #142028;
  line-height: 50px;
  font-size: 2rem;
  font-weight: bolder;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.story .modal-close:hover {
  color: black;
  cursor: pointer;
}
.story a {
  color: inherit;
  text-decoration: none;
}
.story .container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.story .modal-window > div {
  border-radius: 1rem;
}
.story .modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

@media (min-width: 751px) {
  .story-container {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .story-container__news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .story-container .story {
    display: flex;
    height: 50vh;
    margin: 3rem;
    justify-content: center;
    width: 35vw;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
}/*# sourceMappingURL=NewsStories.css.map */