@import '../../variables/variables.scss';

.story{
    display: flex;
    height: 40vh;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 100vw;
    -webkit-overflow-scrolling: touch;

    &__section{
        background-size: cover;
        background-repeat: none;
        border: 2px solid black;
        height: 40vh;
        width: 75vw;
        
        &__tag-box{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            
            .tags {
                border: 1px solid black;
                background-color: whitesmoke;
                height: 5vh;
                width: 25vw;
                text-align: center;
                padding-top: 1rem;
                font-weight: bolder;
                font-size: 1em;
            }
            
            .action {
                border: 1px solid black;
                background-color:$color-yellow;
                height: 5vh;
                width: 25vw;
                text-align: center;
                padding-top: 1rem;
                font-weight: bolder;
                font-size: 1em;
            }
        }
        
        &__title-box {
            background-color: whitesmoke;
            background: rgba(255, 255, 255, 0.5);
            display: flex;
            flex-direction: column;
            flex: end;
            margin-top: 7.5rem;
            padding:1rem;
            
            .date {
                color: black;
                font-size: 1.5em;
            }

            .title {
                color: black;
                font-size: 2em;
            }
            
            .author-name {
                font-size: 1.5em;
                color: black;
            }
        }
    } 
    /*---------------------------------------*/

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    /* modal open|close controller */
    #mpo-modal-controller {
        position: absolute;
        left: -999em;
        opacity: 0;
    }
    
    .mpo-modal-open:checked~.mpo-modal-wrap {
        display: block;

        &:before,
        .mpo-modal-overlay {
            display: block;
        }
    }
    
    .mpo-modal-close {
        cursor: pointer;
        font-size: 35px;
        font-weight: bold;
        line-height: 20px;
        padding: 10px;
        position: absolute;

        top: 0;
        right: 0;
        z-index: 100;
    }
    
   

    /* modal */
    .mpo-modal-wrap {
        display: none;

        &:before {
            content: "";
            display: none;
            background: rgba(0, 0, 0, .8);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 101;
        }
    }
    
    .mpo-modal-overlay {
        bottom: 0;
        display: none;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 102;
    }
    
    .mpo-modal-body {
        position: absolute;
        top: 50%;

        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        padding: 15px 0;
        background: #fff;
        border-radius: .25em;
        overflow: hidden;

        text-align: center;
        width: 75%;
        z-index: 103;

        p {
            text-align: left;
            line-height: 1.3;
        }
    }
    
    .mpo-modal-content {
        margin: 30px 15px 50px;
        padding: 50px 0 0;
        position: relative;
    }
    
    .mpo-modal-slide {
        display: flex;
        // position: absolute;
        transition: all 0.4s ease-in;
        width: 100%
    }
    
    .modal-content-1 {}

    .modal-content-2 {
        left: 100%;
    }
    
    .modal-content-3 {
        left: 200%;
    }

    #modal-content-1:checked~.content-1 {
        left: 0;
        overflow: auto;
        position: relative;
    }

    #modal-content-1:checked~.content-2 {
        left: 100%;
    }

    #modal-content-2:checked~.content-1 {
        left: -100%;
    }

    #modal-content-2:checked~.content-2 {
        left: 0;
        overflow: auto;
        position: relative;
    }

    #modal-content-2:checked~.content-3 {
        left: 100%;
    }

    #modal-content-3:checked~.content-1 {
        left: -200%;
    }

    #modal-content-3:checked~.content-2 {
        left: -100%;
    }

    #modal-content-3:checked~.content-3 {
        left: 0;
        overflow: auto;
        position: relative;
    }

    .mpo-modal-nav {
        position: absolute;
        top: 50px;
        width: 100%;

        label {
            position: absolute;
            background: #f7f7f7;
            color: #303030;
            cursor: pointer;
            display: inline-block;
            font: 50px Arial;
            line-height: 45px;
            height: 50px;
            width: 80px;
            padding: 0 30px 0 25px;
            text-decoration: none;
            vertical-align: middle;
            letter-spacing: -7px;
            text-align: center;

            &.prev-slide {
                content: '';
                left: 0;
            }

            &.next-slide {
                content: '';
                right: 0;
            }
        }

    }

    .btn {
        background: #fff;
        border: #555 solid 1px;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        padding: 8px 15px;
        text-decoration: none;
        text-align: center;
        min-width: 60px;
        position: relative;
    }
    
    @media only screen and (max-width: 767px) {
        .mpo-modal-body {
            max-width: 100%;
            width: 100%;
            border-radius: 0;
        }
    }



}
    
    