@import '../../variables/variables.scss';

.story{
    display: flex;
    height: 40vh;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 100vw;

    &__section{
        border: 2px solid black;
        height: 40vh;
        width: 75vw;
        
        &__tag-box{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            
            .tags {
                border: 1px solid black;
                background-color: whitesmoke;
                height: 5vh;
                width: 25vw;
                text-align: center;
                padding-top: 1rem;
                font-weight: bolder;
            }
            
            .action {
                border: 1px solid black;
                background-color:$color-yellow;
                height: 5vh;
                width: 25vw;
                text-align: center;
                padding-top: 1rem;
                font-weight: bolder;
            }
        }
        
        
        &__title-box {
            border: 1px solid black;
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            flex: start;
            justify-content: space-between;
            
            
            .title {
                border: 1px solid black;
            }
            
            .author-name {
                border: 1px solid black;
            }
        }
    }  
}
    
    