@import '../../variables/variables.scss';

.story{
    border: 2px solid black;
    height: 85vh;
    background-color: transparent;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &tag-box{
        border: 1px solid black;
        background-color: yellow;
        display: flex;
        flex: start;
        justify-content: space-between;

        .tags {
            border: 1px sold black;
        }
    }

    &action-box {
        border: 1px solid black;
        background-color: yellow;
        display: flex;
        flex: start;
        justify-content: space-between;
    }

    &title-box {
        border: 1px solid black;
        background-color: yellow;
        display: flex;
        flex: start;
        justify-content: space-between;


        .title {
            border: 1px sold black;
        }

        .author-name {
            border: 1px sold black;
        }
    }

}

