.story {
  display: flex;
  height: 40vh;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}

.story__section {
  background-size: cover;
  background-repeat: none;
  border: 2px solid black;
  height: 40vh;
  width: 75vw;
}

.story__section__tag-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.story__section__tag-box .tags {
  border: 1px solid black;
  background-color: whitesmoke;
  height: 5vh;
  width: 25vw;
  text-align: center;
  padding-top: 1rem;
  font-weight: bolder;
  font-size: 1em;
}

.story__section__tag-box .action {
  border: 1px solid black;
  background-color: #EBE792;
  height: 5vh;
  width: 25vw;
  text-align: center;
  padding-top: 1rem;
  font-weight: bolder;
  font-size: 1em;
}

.story__section__title-box {
  background-color: whitesmoke;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  flex: end;
  margin-top: 7.5rem;
  padding: 1rem;
}

.story__section__title-box .date {
  color: black;
  font-size: 1.5em;
}

.story__section__title-box .title {
  color: black;
  font-size: 2em;
}

.story__section__title-box .author-name {
  font-size: 1.5em;
  color: black;
}
