@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
*,
*::after,
*::before {
  caret-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
}

body {
  box-sizing: border-box;
}
